.navMenu {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  top:155px;
  z-index: 2;
  column-gap: 20%;
  opacity: 0.8;
  width:50px;
}

.navMenu:hover{
  width:80px;
  align-items: flex-end;
  transition: 0.2s ease-in;
}

.navSocial{
  display: flex;
  flex-direction: column;
}

.navSocial img {
  display: inline-block;
  padding: 5px 8px;
  height: 40px;
  align-self: center;
  margin: 5px 8px;
  filter: brightness(0) invert(1);
}

.navSocial img:hover {
  position: static;
  transform: scale(1.5);
}


@media(max-width:1023px){
  .navMenu{
    position: relative;
  }
}

/*phone*/
@media(max-width:610px){
  .navList > *{
    width: 100%;
    justify-content: center;
  }
}