.navMenu {
  /* background-color: #333; */
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  top:155px;
  z-index: 2;
  /* column-gap: 20%; */
  opacity: 0.8;
  width:50px;
}

.navMenu:hover{
  width:80px;
  align-items: flex-end;
  transition: 0.2s ease-in;
}

.navSocial{
  display: flex;
  flex-direction: column;
}

.navSocial img {
  display: inline-block;
  padding: 5px 8px;
  height: 40px;
  align-self: center;
  margin: 5px 8px;
  /* filter: brightness(0) invert(1); */
  filter: invert(35%) sepia(29%) saturate(1160%) hue-rotate(182deg) brightness(102%) contrast(89%);
  cursor: pointer;
}

.navSocial img:hover {
  position: static;
  transform: scale(1.5);
}


/*phone*/
@media(max-width:610px){
.navMenu{
  top: 15%;
  align-items: flex-start;
  width: 40px;
}

.navMenu:hover{
  width: 65px;
}

.navSocial:hover{
  padding: 5px 0;
}

.navSocial img{
  height: 35px;
  align-self: flex-start;
  margin: 3px ;
}

.navSocial img:hover {
  position: static;
  height: 40px;
  transform: scale(1.5);
}
}