* {
  box-sizing: border-box;
}

.mainFooter {
  position: relative;
  padding: 40px 0 10px;
  background-color: #292929;
  color: white;
}

.autoContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  margin: 0 10%;
}

.contactInfo {
  text-align: left;
  margin: 0 4%;
  justify-self: center;
}

.contactInfo h3,
.contactInfo p {
  display: block;
}

.mainFooter li {
  list-style: none;
  line-height: 1.8;
}

ul.links,
ul.contactUsInfo {
  padding: 0;
}

.mainFooter a {
  text-decoration: none;
}

.autoContainer ul li a:link,
.autoContainer ul li a:active,
.autoContainer ul li a:visited {
  color: white;
}

.autoContainer ul li a:hover {
  color: red;
}

@media (max-width: 768px) {
  .autoContainer {
    flex-direction: column;
    align-items: center;
  }
}
