.wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%,-50%);
        background-color: rgb(135, 127, 127);
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        align-items: stretch;
        padding: 30px;
        text-align: left;
        color: white;
        border-radius: 5px;
        line-height: 1.75rem;
        font-size: 18px;
}

.openModule{
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding: 10px 20px;
    margin: 15px 0;
    cursor: pointer;
}


.modalTitle{
        margin-bottom: 20px;
        font-size: x-large;
        font-weight: 700;
}

.closeBtn,.openBtn{
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding: 7px 14px;
    margin: 15px 0;
    cursor: pointer;
}

.closeBtn:hover,.openBtn:hover{
    background-color: black;
    color: white;

}