.phoneLi::before {
  content: url("../../assets/icons/header/header-phone.webp");
  filter: invert(62%) sepia(88%) saturate(4409%) hue-rotate(167deg)
    brightness(94%) contrast(102%);
  padding-top: 25px;
  padding-right: 10px;
}
.timeLi::before {
  content: url("../../assets/icons/header/header-timer.webp");
  filter: invert(62%) sepia(88%) saturate(4409%) hue-rotate(167deg)
    brightness(94%) contrast(102%);
  padding-top: 25px;
  padding-right: 10px;
}

.callUsHours li {
  display: flex;
  list-style: none;
  height: 50px;
}

.hdTopContainer {
  display: flex;
  justify-content: space-around;
}

.callUsHours ul {
  display: flex;
}
/* tu je greska */
/* .time-li {
  padding-left: 20px;
} */
/* tu je greska */
/* .phone-li {
  padding-right: 140px;
} */

.logoDiv img {
  height: 100px;
}

.headerBottom {
  position: relative;
  padding: 0px 0px;
  background: #36404b;
}

@media (max-width: 600px) {
  .hdTopContainer {
    display: block;
    margin-bottom: 80px;
  }
}
