.mainContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.callUsHours {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.callWraper,
.timeWraper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1%;
  min-width: 100px;
}

.phone,
.time {
  display: inline-block;
  text-align: left;
}

.phoneIcon img,
.timeIcon img {
  filter: invert(62%) sepia(88%) saturate(4409%) hue-rotate(167deg) brightness(94%) contrast(102%);
  width: auto;
  height: 30px;
  padding: 0 10px;
}

@media (max-width: 710px) {
  .mainContainer {
    flex-direction: column;
  }

  .callWraper,
  .timeWraper {
    flex: 1;
  }
}