.phone-li::before {
  content: url("../../assets/icons/header/header-phone.webp");
  filter: invert(62%) sepia(88%) saturate(4409%) hue-rotate(167deg)
    brightness(94%) contrast(102%);
  padding-top: 25px;
  padding-right: 10px;
}
.time-li::before {
  content: url("../../assets/icons/header/header-timer.webp");
  filter: invert(62%) sepia(88%) saturate(4409%) hue-rotate(167deg)
    brightness(94%) contrast(102%);
  padding-top: 25px;
  padding-right: 10px;
}

.call-us-hours li {
  display: flex;
  list-style: none;
  height: 50px;
}

.hd-top-container {
  display: flex;
  justify-content: space-around;
}

.call-us-hours ul {
  display: flex;
}

.time-li {
  padding-left: 20px;
}

.phone-li {
  padding-right: 140px;
}

.logo-div img {
  height: 100px;
}

.header-bottom {
  position: relative;
  padding: 0px 0px;
  background: #36404b;
}
