.aboutUsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  margin: 100px 0;
}

.aboutTitles {
  padding-left: 20px;
  border-left: #009ee0 solid 4px;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutTitles h3{
   color: #009ee0;
}

.aboutPresentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.aboutPresentation p {
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutPromotions {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.aboutPromotions > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.promoBlock {
  height: 110px;
  min-width: 300px;
  border: red 2px solid;
  display: flex;
  justify-content: space-around;
  /* justify-content: flex-start; */
  /* column-gap: 40px; */
}

.iconDiv img{
  height: 50px;
  filter: invert(28%) sepia(86%) saturate(7485%) hue-rotate(356deg) brightness(95%) contrast(119%);
  border-image-width: 10px;
}


/*  TABLET */

@media(max-width:1250px){
  .aboutPromotions{
    margin: 20px 0;
  }
  .aboutPromotions > *{
    align-items: stretch;
    row-gap: 20px;
  }
}

/* MOBILE */

@media(max-width:600px)
{

  .aboutPresentation p{
    width: 50%;
    margin-bottom: 20px;
  }

  .aboutPromotions{
    width: 100%;
    margin-bottom: 20px;
  }

  .aboutPromotions > *{
    row-gap: 20px;
  }
}